
.button
{
	border: none;
	outline: none;
	transition: all 0.3s linear;
	cursor: pointer;
	background-color: $buttonBgColor;
font-weight: 600;
color: $buttonColor;
}

.button.active
{
box-shadow:0 0 3px 1px $buttonBgColor ;
}

.button:disabled
{
cursor: default;
	opacity: .5;
	pointer-events: none;
}