<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/main.min.css">




  <script src="js/vue.min.js" defer></script>
  <script src="js/VueWeather.js" defer></script>





  <!-- Useful meta tags -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow, noodp">
  <meta name="googlebot" content="index, follow">
  <meta name="google" content="notranslate">
  <meta name="format-detection" content="telephone=no">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title> weatherApp </title>

</head>

<body>

  <div id="weatherApp" class="weather-app">


    <header class="header">

      <div class="header__list contanier">

        <form v-on:submit.prevent="FindCity(inputValue)" class="search-form">
          <input id="searchFormInput" type="search" minlength="1" v-model="inputValue" required name="searchCity" placeholder="Поиск по городам
      " class="search-form__input" title="search city" />
          <button id="searchFormSubmit" type='submit' class="search-form__submit button">Поиск</button>
        </form>

        <nav class="nav">
          <ul class="nav__list" @click="mobileMenuToggle">

            <li class="nav__item" @click="getMyPosition">
              Найди меня
            </li>
            <li class="nav__item" @click="FindCity(`cheboksary`)">
              #Чебоксары
            </li>
            <li class="nav__item" @click="FindCity(`Moscow`)">
              #Москва
            </li>
            <li class="nav__item" @click="FindCity(`London`)">
              #London
            </li>
            <li class="nav__item" @click="FindCity(`New York`)">
              #New York
            </li>
            <li class="nav__item" @click="FindCity(`Bangkok`)">
              #Bangkok
            </li>
            <li class="nav__item" @click="FindCity(`Hong Kong`)">
              #Hong Kong
            </li>
          </ul>
        </nav>
        <button class="nav__mobile-toggle " @click="mobileMenuToggle">Города</button>
      </div>
    </header>


    <template v-if="is_loadedData === true">
      <div class="weather__wrapper ">

        <div class="weather__body contanier ">

          <div class="weather__block1 ">
            <div class="weather__city">{{ city }}
              <span class="weather__temperature">{{ temperature}}&#176;</span>
            </div>
            <div class="weather__feelslike">{{ feelslike }}&#176;</div>

            <div class="weather__country">{{ country}}</div>
          </div>

          <div class="weather__block2 ">

            <div class="weather__description">
              <img :src="weather_icon" class="weather__clouds-icon" />{{ description }}
            </div>
            <div class="weather__wind">{{ wind_speed }}</div>
            <div class="weather__humidity">{{ humidity }}%</div>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="weather__wrapper ">

        <div class="weather__body contanier ">

          <div class="weather__block1 ">

            <div class="sk-chase">
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
            </div>

          </div>
          <div class="weather__local-data">

            <div class="sk-flow">
              <div class="sk-flow-dot"></div>
              <div class="sk-flow-dot"></div>
              <div class="sk-flow-dot"></div>
            </div>

          </div>
          <div class="weather__block2 ">

            <div class="weather__description">
              <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
              </div>
            </div>

          </div>

        </div>
      </div>


    </template>

    <div class="animation">weatherApp</div>

  </div>
</body>

</html>