
$bodyColor:linear-gradient(45deg, rgb(106,90,205), rgb(234,137,154), rgb(246,100,175)) ;

$mainTxtColor: rgb(255, 255, 255);
$minorTxtColor: rgb(130,130,130);

$mainAccentColor: rgb(37,40,80);
$minorAccentColor: rgb(162,162,208);

$buttonColor:rgb(255, 255, 255);
$buttonBgColor:#5F5FFE;

$mainBgColor: rgb(66,49,137);
